@model IEnumerable<MVC1387.Models.Employee>

<h3>List of Employees</h3>

<table border="1" width="100%">
    <tr>
        <th>#</th>
        <th>Emp ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Position</th>
        <th>Start Date</th>
        <th>Campus</th>
        <th>Salary</th>
    </tr>
        @{ int row = 1; } <!-- C# Statement in Razor Code Block -->

        @foreach (var employee in Model)
        {
            <tr>
            <td>@row</td>
            <td>@employee.EmpID</td>
            <td>@employee.Name</td>
            <td>@employee.Gender</td>
            <td>@employee.Position</td>
            <td>@employee.StartDate.ToShortDateString()</td>
            <td>@employee.Campus</td>
            <td>@employee.Salary.ToString("c")</td>
            </tr>
            row++;
        }
</table><br />

<h3>List of Employees - Order By Name</h3>

<table border="1" width="100%">
    <tr>
        <th>#</th>
        <th>Emp ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Position</th>
        <th>Start Date</th>
        <th>Campus</th>
        <th>Salary</th>
    </tr>
    @{
        int row2 = 1;
    } <!-- C# Statement in Razor Code Block -->
    @foreach (var employee in ViewBag.OrderName)
    {
        <tr>
            <td>@row</td>
            <td>@employee.EmpID</td>
            <td>@employee.Name</td>
            <td>@employee.Gender</td>
            <td>@employee.Position</td>
            <td>@employee.StartDate.ToShortDateString()</td>
            <td>@employee.Campus</td>
            <td>@employee.Salary.ToString("c")</td>
        </tr>
        row2++;
    }
</table><br />
<h3>List of Emplyees - Order By Start of Date</h3>

<table border="1" width="100%">
    <tr>
        <th>#</th>
        <th>Emp ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Position</th>
        <th>Start Date</th>
        <th>Campus</th>
        <th>Salary</th>
    </tr>
    @{
        int row3 = 1;
    } <!-- C# Statement in Razor Code Block -->
    @foreach (var employee in ViewBag.OrderStartDate)
    {
        <tr>
            <td>@row</td>
            <td>@employee.EmpID</td>
            <td>@employee.Name</td>
            <td>@employee.Gender</td>
            <td>@employee.Position</td>
            <td>@employee.StartDate.ToShortDateString()</td>
            <td>@employee.Campus</td>
            <td>@employee.Salary.ToString("c")</td>
        </tr>
        row3++;
    }
</table><br />
<h3>List of Emplyees - Order Descending by Salary</h3>

<table border="1" width="100%">
    <tr>
        <th>#</th>
        <th>Emp ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Position</th>
        <th>Start Date</th>
        <th>Campus</th>
        <th>Salary</th>
    </tr>
    @{
        int row4= 1;
    } <!-- C# Statement in Razor Code Block -->
    @foreach (var employee in ViewBag.OrderDescSalary)
    {
        <tr>
            <td>@row</td>
            <td>@employee.EmpID</td>
            <td>@employee.Name</td>
            <td>@employee.Gender</td>
            <td>@employee.Position</td>
            <td>@employee.StartDate.ToShortDateString()</td>
            <td>@employee.Campus</td>
            <td>@employee.Salary.ToString("c")</td>
        </tr>
        row4++;
    }
</table><br />
<h3>List of Emplyees - Order by Campus Name</h3>

<table border="1" width="100%">
    <tr>
        <th>#</th>
        <th>Emp ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Position</th>
        <th>Start Date</th>
        <th>Campus</th>
        <th>Salary</th>
    </tr>
    @{
        int row5 = 1;
    } <!-- C# Statement in Razor Code Block -->
    @foreach (var employee in ViewBag.OrderCampusName)
    {
        <tr>
            <td>@row</td>
            <td>@employee.EmpID</td>
            <td>@employee.Name</td>
            <td>@employee.Gender</td>
            <td>@employee.Position</td>
            <td>@employee.StartDate.ToShortDateString()</td>
            <td>@employee.Campus</td>
            <td>@employee.Salary.ToString("c")</td>
        </tr>
        row5++;
    }
</table>
<br />