@model MVC1387.Models.Employee

<p>
    Employee ID: @Model.EmpID
</p>
<p>
    Name: @Model.Name
</p>
<p>
    Gender: @Model.Gender
</p>
<p>
    Position: @Model.Position
</p>
<p>
    Start Date: @Model.StartDate.ToLongDateString()
</p>
<p>
    Campus: @Model.Campus
</p>
<p>
    Salary: @Model.Salary.ToString("c2")
</p>